@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

/* text */
h1{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
}

p{
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}


/* index */
.header{
  padding-top: 25vh;
  padding-bottom: 20%;
  color: #D9D8D7;
  /* height: 60vh; */
  /* background-color: #023059; */
}
