.lc-size{
    max-width: 400px;
    padding: 20% 10% 15% 10%;
}

#riverside{
    background-color: #B9E7FF;
    color: #012248;
}

#lynx{
    background-color: #ffcfd1;
    color: #C2272D;
}

#white-bever{
    background-color: #ffe1b2;
    color: #d48100;
}

#spire{
    background-color: #F4FCFF;
    color: #19709b;
}

#one-yonge{
    background-color: #ffc9d0;
    color: #860B1A;
}
