@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

/*FONTS*/
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.2em;
    padding-bottom: 10px;
}
h1 span{
    font-weight: 700;
}
h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.2em;
    padding-bottom: 10px;
}
h2 span{
    font-weight: 700;
}
h3{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-bottom: 8px;
}
h3 span{
    letter-spacing: 0.3px;
    font-weight: 500;
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 10px;
}
h4 span{
    font-weight: 400;
}
h5{
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
}
h5 span{
    font-weight: 500;
}
p{
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
}
p span{
    font-size: 1em;
    font-weight: 500;
}

hr{
    border: 0;
    height: 0;
    margin: 10px 0;
}


/*LINK ANIMATION*/
.button{
    display: inline-block;
    background: #ff5050;
    padding: 15px 20px;
    margin: 20px auto;
    
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #fff;
    text-transform: uppercase;
}
.button:hover{
    background: #ff8787; 
    color: #fff;
}

/*IMAGE*/
img{
    width: 100%;
}
.img-block img{
    display: block;
}

/*MENU*/
#header{
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;

    -webkit-transition: height .3s, line-height .3s; /* Safari */
    transition: height .3s, line-height .3s;
}
#logo{
    width: 44px;
    position: relative;
    float: left;
    padding: 30px 5%;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#menu{
    color: #292C44;
    padding: 0 5%;
    float: right;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#menu ul{
    position:relative;
    right: 4%;
    float: right;
}
#menu li{
    float: left;
    display:inline;
    text-align:center;
}
#menu li a{
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #292C44;
    display: inline-block;
    float:right;
    padding: 45px 0 3px 0;
    margin: 0 10px;
    
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
#menu li a:hover{color: #FF5349;}
#menu li a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
/*    background-color: #18CDCA;*/
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
#menu li a:hover:before {
    background-color: #FF5349;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*GRID LAYOUT*/
/*MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container{
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .project-container{
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .col13{max-width: 90%;}
    .col23{max-width: 90%;}
    .col33{max-width: 90%;}
    .col12{max-width: 90%;}
    .col14{max-width: 40%;}
    .col15{max-width: 90%;}
    .col45{max-width: 90%;}
    .col16{max-width: 40%;}

    .col13, .col23, .col33, .col12, .col14, .col15, .col16{
    margin: 1% 5%;
    }

    .fl, .fr, .center {
        display: block;
        margin: 0 auto;
    }
    .clear {clear: both;} 
    
    .section1{
        padding-top: 140px;
        padding-bottom: 50px;
    }
    /*SQUARE MARGIN*/
    .padding-tblr {padding: 5%;}
    .margin-tb {
        margin-top: 1%;
        margin-bottom: 1%
    }
    .padding-tb-5{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .padding-tb-1{
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
/*TABLET*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
    .container{
        max-width: 600px;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .project-container{
        max-width: 600px;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .col13{max-width: 30.33%;}
    .col23{max-width: 63.66%;}
    .col33{max-width: 98%;}
    .col12{max-width: 47%;}
    .col14{max-width: 22%;}
    .col15{max-width: 17%;}
    .col45{max-width: 77%;}
    .col16{max-width: 13.66%;}

    .col13, .col23, .col33, .col12, .col14, .col15, .col16{
        margin: 0 1%;
    }
    
    .fl {float:left;}
    .fr {float:right;}
    .clear {clear: both;}
    .center {display: block;
        margin: 0 auto;}
    
    .section1{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    /*SQUARE MARGIN*/
.padding-tblr {padding: 1%;}
.margin-tb {
    margin-top: 1%;
    margin-bottom: 1%
}
.padding-tb-5{
    padding-top: 5%;
    padding-bottom: 5%;
}
.padding-tb-1{
    padding-top: 1%;
    padding-bottom: 1%;
}
    
}
/*DESKTOP*/
@media only screen and (min-width: 900px) {
    .container{
        top: 0;
        max-width: 900px;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .project-container{
        top: 0;
        max-width: 900px;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    .col13{max-width: 30.33%;}
    .col23{max-width: 63.66%;}
    .col33{max-width: 98%;}
    .col12{max-width: 47%;}
    .col14{max-width: 23%;}
    .col15{max-width: 17%;}
    .col45{max-width: 77%;}
    .col16{max-width: 13.66%;}
    .col13, .col23, .col33, .col12, .col14, .col15, .col16{
        margin: 0 1%;
    }
    .fl {float:left;}
    .fr {float:right;}
    .clear {clear: both;}
    .center {display: block;
        margin: 0 auto;}
    .section1{
        padding-top: 200px;
        padding-bottom: 50px;
    }

    /*SQUARE MARGIN*/
    /*.margin-tblr {margin: 1%;}*/
    .padding-tblr {padding: 1%;}
    .margin-tb {
        margin-top: 1%;
        margin-bottom: 1%
    }
    .padding-tb-5{
        padding-top: 5%;
        padding-bottom: 5%;
    }
  
    .padding-tb-1{
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
}


/*MOBILE FLOAT LEFT*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .icon16 {padding: 5%; float:left; !important}
}
/*general float left turns centered when in mobile format. icon16 need to keep it's float left format*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .icon16 {float:left; !important}
}

/*LINK*/
    /* unvisited link */
    a{
        text-decoration: none;
    }    
    a:link {
        color: #292C44;
    }
    /* visited link */
    a:visited {
        color: #292C44;
    }
    /* mouse over link */
    a:hover {
        color: #FF5349;
    }
    /* selected link */
    a:active {
        color: #FF5349;
    }
    /*UNDERLINE LINK*/
    .link{
        position: relative;
        color: #292C44;
        text-decoration: none;
        padding-bottom: 5px;
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    .link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #292C44;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    .link:hover{color: #FF5349;}
    .link:hover:before {
        background-color: #FF5349;
        visibility: visible;
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }
   
/*PROJECT LINK*/
    .projectlink a {
      display: inline;
      position: relative;
      overflow: hidden;
    }
    .projectlink a:hover {color: #FF5349;}
    .projectlink a:after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 100%;
      bottom: -5px;
      background: #FF5349;
      height: 2px;
      transition-property: left right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    .projectlink a:hover:after,
    .projectlink a:focus:after,
    .projectlink a:active:after {
        right: 0;
        color: #FF5349;
    }
    
/*LINK IMAGE*/
    .image-link div a{background-color: #292C44;}
    .image-link img{
        display: block;
        transition: all 0.2s;
}
    .image-link img:hover{
        opacity: 0.5;
    }

/*LAYOUT AND COLOURS*/
.text-center{text-align: center;}
.text-right{text-align: right;}
.space{height: 60px;}
.up{
    margin-top: -60px;
    padding-bottom: 5%;
}
.full-screen{height: 100hv;}


/*PROJECT OVERLAP*/
.fr-overlap{
    position: relative;
    top: 40px;
    left: 70px;
}
.fl-overlap{
    position: relative;
    top: 40px;
    right: 70px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .fr-overlap{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .fl-overlap{
        position: relative;
        top: 0;
        right: 0;
    }
    
}

/*COLOURS*/
body{
    background-color: #fdfdfd;
    color: #292C44;
    margin: 0;
}

.grey{background-color: #f2f2f2;}

footer{
    padding: 3%;
    text-align: center;
    align-content: center;
}